/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}
html,
body {
  height: 100%;
}

.border {
  background-color: rgb(255, 245, 224);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.color {
  background-color: rgb(255, 245, 224);
}

.section {
  color: rgb(29, 29, 36);
  height: 100vh;
  padding: 5vh;
  margin: 15px;
  font-size: 20px;
  max-width: 1200px;
}

@media (max-width: 1200px) {
  .section {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .section {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .section {
    max-width: none;
  }
}

.font {
  color: darkblue;
  margin: 20px.20px.20px.20px;
  font-weight: 700;
  font-size: 34px;
  line-height: 55px;
}

h1 {
  color: darkblue;
}

img {
  border-radius: 100%;
  text-align: right;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.avatar {
  margin-left: 25px;
}
.name {
  font-size: 70px;
  color: blueviolet;
  font-weight: 700;
}

.align-image {
  align: center;
  margin: 50px;
  padding: 50px;
  font-size: 100%;
  inline: 150px;
  display: inline-flex;
}

a {
  font-size: 20px;
}

body {
  padding: 30px;
}

.text {
  font-size: 20px;
  line-height: 25px;
  margin: 10px.0px.30px.0px;
}
ul {
  list-style-type: none;
}

li:before {
  content: "\2B25";
  margin: 10px;
}

footer {
  background-color: rgb(209, 186, 133);
  color: rgb(26, 24, 24);
  min-height: 0;
  inline: 800px;
}

.block {
  background-color: rgb(209, 186, 133);
  color: rgb(26, 24, 24);
  min-height: 0;
  inline: 800px;
  margin: 20px, 20px, 20px, 20px;
  padding: 20px, 20px, 20px, 20px;
}

.footer_ad {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_end {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  margin: 10px;
  display: inline block;
  height: 10;
  width: 10;
  font-size: 100%;
  inline: 150px;
}
.color_ico {
  margin-left: 25px;
  margin-right: 25px;
}
.font1 {
  font-size: 50px;
  color: blueviolet;
  font-weight: 700;
}
.footer_content {
  display: flex;
  justify-content: space-around;
}
